$textWhite: #ffffff;

.header--container, .headerContent {
    top: 0;
    left: 0;
    right: 0;
}


.header--container {
    position: relative;
    .header--background {
        max-height: 800px;
        width: 100%;
        object-fit: cover;
    }
    .headerContent {
        position: absolute;
        
    }

    #header {
        height: var(--header-height);
        background: rgba(46, 43, 43, 0.4); 
        backdrop-filter: blur(0.4rem);
        z-index: 10;     
        .header__container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 120rem;
            height: 100%;
            margin: 0 auto;
            color: $textWhite;
        }
    
        .header__logo {
            a {
                font-size: 3rem;
                font-weight: 700;
                color: $textWhite;
            }
        }
    
        .header__navbar{
            ul{
                display: flex;
                align-items: center;
                font-size: 2rem;    
                li{
                    position: relative;
                    padding: 1.5rem;
                    text-transform: uppercase;
    
                    a {
                        color: $textWhite;
                    }
                    a:hover {
                        opacity: 0.6;
                    }
                    
                }
                .header__navbar--link.active{
                    &::after {
                        content: '';
                        position: absolute;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        background: rgb(33, 180, 33);
                        border: 50%;
                        bottom: 3px;
                        right: 50%;
                        }
                }
                .header__navbar--logout {
                    font-weight: 700;
                }
            }
        }
    }
    
    .content {
        color: #ffffff;
      
        .content__title { 
            margin-top: var(--header-height);
            font-style: normal;
            font-weight: 700;
            font-size: 3rem;
            line-height: 114px;
        }
    
        .topCate {
            margin-top: 5.5rem;
            h3 {
                font-size: 3.5rem;
                font-weight: 700;
            }
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 2rem 1rem;
                background: rgb(50 44 44 / 40%);
                backdrop-filter: blur(2.2rem);
                border-radius: 8px;

                li {
                    width: 5rem;
                }
                    
                a {
                    color: #ffffff;
                    opacity: 0.6;
                }
            }
        }
    
    }
    
}

