.popularBeach, .recentlyViewed , .allPackages, .special{
    margin-top: 2rem;
    h3{
        font-size: 3.5rem;
        font-weight: 700;
    }
}

.recentlyViewed, .allPackages, .special {
    padding-top: 3rem;
    h3 {
        color: #000000;
    }
}

.recentlyViewed--container {
    display: flex;
    align-items: center;

    .recentlyViewed--content {
        position: absolute;
        top: 4rem;
        padding: 2rem;
        left: 3rem;
    }
}

    