@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,400;1,700&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --header-height: 6rem;
  --form-color: #2979ff;
  --green-color: #68d69d;
  --blue-letter: #401d83;
  --font-color: #333;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  text-transform: capitalize;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

a[hfef] {
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}

.wide {
  max-width: 120rem;
  margin: 0 auto;
}

.font-black {
  color: var(--font-color);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(rgb(94, 94, 203), rgb(20, 142, 203));
  border-radius: 1rem;
  border: 1px solid rgb(255, 255, 255);
}

.btn--login--register {
  width: 100%;
  text-align: center;

  button {
    margin-top: 1rem;
    background-image: linear-gradient(to right, var(--form-color), #0ccf9e);
    font-size: 2.5rem;
    padding: 1.5rem 4rem;
    border-radius: 8rem;
    cursor: pointer;
  }

  button:hover {
    background-image: linear-gradient(to right, var(--form-color), #0f66d1);
    color: white;
  }
}

//form 

.form__title {
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3.9rem;
  color: var(--form-color);
  line-height: 1.2;
  text-align: center;
  padding-bottom: 3rem;
}

.link--login--signUp {
  a {
    color: var(--form-color);
    padding: 1rem;
    font-size: 1.7rem;

    &:hover {
      color: var(--font-color);
    }
  }
}

