.listItem{
    ul{
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 3rem;
        li {
            margin-right: 3.3rem;
        }
        img {
            height: 23rem;
            width: 33rem;
            object-fit: cover;
            border-radius: 1.1rem;
        }
        span {
            margin-top: -5.5rem;
            margin-left: 2rem;
            display: block;
            color: white;
            font-size: 2.5rem;
        }

        
    }

}

